
.ch-head{
    background-color:rgb(99, 172, 255);   
    
}
a{
    font-family: 'Spartan', sans-serif;
}
.ch-atom-text{
    color: white !important;
    font-size:16px;
    vertical-align: middle;
    font-weight: 500;
}
.btn-outline-success__Contact-btn{
    color: rgb(99, 172, 255) !important;
    border-color: rgb(99, 172, 255) !important;
    border-radius: 17px !important;
    
}
.ch-atom-text--maxwidth{
    color: rgb(118, 118, 118) !important;
}


/*-----------small----------------*/
@media only screen and (max-width: 380px){
.ch-atom-row__img{
    width:38%;
    margin-left: -3px;
    margin-top: 3px;
    border-width: thin !important;
}
.ch-atom-img2--smaller{
    margin-top: 20px;
    width: 100%;
}
.ch-atom-heading{
    text-align: center;
    font-size: 35px;
    max-width: 300px;
}
}


/*------------MEDium-----------*/

@media only screen and (min-width: 700px)and (max-width: 1025px){
.flexbox{
    display: flex;
    flex-direction: column;
}
.item-molc-first{
    order: 2;
}
.ch-atom-img2--smaller{
    margin-left: 48px;
    margin-top: 20px;
    width: 86%;
}


}

/*--------------------LARGE---------------*/

@media only screen and (min-width: 1020px){
.ch-atom-text--toLeft{
    margin-left: -14px;
}
.btn-outline-success--toRight{
    margin-left: 5px;
      
}
.btn-outline-success__Contact-btn{
    width: 115px;
    border:3px;
    height: 45px;
    border-width: 2px !important;
}
.row__second--toDown{
    margin-top: 29px !important;
    margin-left: -13px !important;
    
}
.nav-link__minwidth{
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
    width: 120px!important;
}
.nav-link__minwidth--toLeft{
    padding-left: 20px !important;
    margin-left: 0px !important;
}
.nav-link__minwidth--toLeft2{
    margin-left: -25px !important;
}
.nav-link{
    color: black !important;
}
.nav-link :hover{
    color: blue!important;
}
.nav-link__minwidth--toLeft3{
    margin-left: 348px !important;
    width: 125px !important;
}
.ch-atom-text--maxwidth{
    max-width: 350px;
    font-size: 19px;
    opacity: 0.9;
}
.item-molc-first{
    padding-top: 80px;
}
.ch-atom-heading--maxwidth{
    max-width: 350px;
    font-size: 59px;
    line-height: 55px;
}
.ch-atom-heading{
    font-family: Recoleta Bold;
}
.ch-atom-img2--smaller{
    width: 95%;
    margin-top: 10px;
}
}